{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="menu">
        <div class="left">
            <div class="logo"><a href="{% url 'home' %}">Logo</a></div>
            <div class="menu-item"><a href="{% url 'home' %}">Home</a></div>
            <div class="menu-item">About</div>
        </div>
        <div class="right">
            {% if request.user.is_authenticated %}
                <div class="menu-item">{% translate 'XIN CHAO: ' %} {{ request.user }}</div>
            {% endif %}
            <div class="language">
                <form action="{% url 'set_language' %}" method="post" id="language_selection">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ request.get_full_path }}">
                <select name="language" >
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" id="submit_btn" hidden value="Go">
            </form> 
            </div>
            {% if request.user.is_authenticated %}
                <div class="menu-item">Cart <span class="cart-count">{{ request.user.cart_count }}</span></div>
                <div class="menu-item"><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></div>
            {% else %}
                <div class="menu-item"><a href="{% url 'login' %}">Login</a></div>
            {% endif %}
        </div>
    </div>
    {% block content %}{% endblock %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>